.topOper {
  display: flex;
  justify-content: space-between;

  .leftSearch {
    width: 1300px;

    span {
      display: inline-block;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

.header_title {
  display: flex;
  justify-content: space-between;
  height: 30px;

  .left_title {
    display: flex;
    align-items: center;
  }

  .right_title {
    display: flex;
    align-items: center;
  }
}

.main_body {
  display: flex;
  justify-content: space-between;
  height: 130px;
  margin-top: 15px;

  .right_body {
    img {
      width: 115px;
      height: 115px;
    }
  }

  .left_body {
    .line1 {
      display: flex;

      .el-tag {
        margin-right: 10px;
      }
    }

    .line2 {
      color: #999;
      font-size: 14px;

      .info {
        margin-top: 15px;
      }
    }
  }
}

.footer_operation {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
